.retweet, .like, .flag {
  height: 20px;
}

.tweet {
  margin: auto;
  margin-bottom: 80px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background: #fff;
  opacity: 0.8;
}

.tweet-actions {
  visibility: hidden;
}

#tweets-container {
  /* margin: auto; */
}

.tweet-content {
  padding: 1em 1em 1em 1em;
}


.tweet footer {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  padding: 1em 1em 1em 1em;
  font-size: 0.75em;
  display: flex;
  align-items: center;
}

.tweet footer > p {
  margin: 0;
  font-size: 14px;
}

.tweet header {
  margin: 0;
  background: rgba(0, 0, 0, 0.05);
  width: 100%;
  padding: 1em;
  display: flex;
  align-items: flex-start;
}

.tweet header:after,
.tweet footer:after {
  content: "";
  display: table;
  clear: both;
}

.tweet:hover {
  opacity: 1;
}

.tweet:hover .tweet-actions {
  visibility: visible;
}

.tweet-timestamp {
  flex-grow: 1;
}

.user-avatar {
  height: 50px;
  border-radius: 50%;
  margin-right: 8px;
}

.user-handle {
  line-height: 1.5rem;
  font-size: 16px;
}

.user-name {
  font-size: 24px;
  font-weight: bold;
  flex-grow: 1;
}
