.like,
.flag,
.retweet {
  padding: 0 2.5px;
}

.retweet, .like, .flag {
  height: 20px;
}

.tweet {
  margin-bottom: 25px;
  border-radius: $border-radius;
  border: 1px solid lighten(black, 75);
  background: white;
  opacity: 0.6;
}

.tweet-actions {
  visibility: hidden;
  color: $tweeter-color;
  display: flex;
  align-items: center;
}

.tweet-auto-wrap {
  word-wrap: break-word;
  hyphens: auto;
}

.tweet-content {
  padding: 1em 1em 1em 1em;
}

.tweet footer {
  border-top: 1px solid lighten(black, 75);
  padding: 1em 1em 1em 1em;
  font-size:  $sizing-unit * 2;
  display: flex;
  align-items: center;
}

.tweet footer > p {
  font-size: $sizing-unit * 2;
}

.tweet header {
  background: $tweet-background;
  padding: 1em;
  display: flex;
}

.tweet header:after,
.tweet footer:after {
  content: "";
  display: table;
  clear: both;
}

.tweet:hover {
  opacity: 1;
}

.tweet:hover .tweet-actions {
  visibility: visible;
}

.tweet-timestamp {
  flex-grow: 1;
}

.user-avatar {
  height: 50px;
  border-radius: 50%;
  margin-right: 8px;
}

.user-handle {
  line-height: 1.5rem;
  font-size:  $sizing-unit * 2;
}

.user-name {
  font-size:  $sizing-unit * 3;
  font-weight: bold;
  flex-grow: 1;
}
