html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

a {
  text-decoration: none;
  color: inherit; }

body {
  margin: 0;
  color: #050505;
  background-color: #eee;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px; }

main {
  margin: auto;
  width: 450px;
  padding: 2em;
  background-color: #FFFFFF;
  padding-top: 100px; }

#nav-bar {
  display: flex;
  align-items: center;
  position: fixed;
  padding: 0em 2em 0em;
  width: 100%;
  z-index: 1;
  background: #BBC;
  color: white; }

#nav-bar .header {
  flex-grow: 1;
  font-size: 35px;
  padding-left: 10px; }

#nav-bar .logo {
  height: 80px; }

.compose-button {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.86);
  border: 1px solid black;
  border-radius: 5px;
  padding: 0 0.5em 0;
  color: #BBC; }

.compose-button:hover {
  color: black;
  background-color: white;
  cursor: pointer; }

/* tweet layout */
#container {
  padding-bottom: 23px; }

.error {
  color: red; }

h2 {
  margin: 0;
  width: 370px;
  border-bottom: 1px solid #bfbfbf; }

input {
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  padding: 0 5px;
  background: #BBC; }

.new-tweet {
  padding: 0 1em;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  background: #e7e7ed;
  margin-bottom: 15px; }

.new-tweet footer {
  padding: 0.25em 0 0.5em 0;
  font-size: 14px;
  display: flex;
  align-items: center; }

.new-tweet header {
  padding: 1em 0;
  display: flex; }

textarea {
  padding: 5px 5px 5px;
  width: 100%; }

.tweet-button {
  flex-grow: 1; }

.like,
.flag,
.retweet {
  padding: 0 2.5px; }

.retweet, .like, .flag {
  height: 20px; }

.tweet {
  margin-bottom: 25px;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  background: white;
  opacity: 0.6; }

.tweet-actions {
  visibility: hidden;
  color: #BBC;
  display: flex;
  align-items: center; }

.tweet-auto-wrap {
  word-wrap: break-word;
  hyphens: auto; }

.tweet-content {
  padding: 1em 1em 1em 1em; }

.tweet footer {
  border-top: 1px solid #bfbfbf;
  padding: 1em 1em 1em 1em;
  font-size: 14px;
  display: flex;
  align-items: center; }

.tweet footer > p {
  font-size: 14px; }

.tweet header {
  background: #e7e7ed;
  padding: 1em;
  display: flex; }

.tweet header:after,
.tweet footer:after {
  content: "";
  display: table;
  clear: both; }

.tweet:hover {
  opacity: 1; }

.tweet:hover .tweet-actions {
  visibility: visible; }

.tweet-timestamp {
  flex-grow: 1; }

.user-avatar {
  height: 50px;
  border-radius: 50%;
  margin-right: 8px; }

.user-handle {
  line-height: 1.5rem;
  font-size: 14px; }

.user-name {
  font-size: 21px;
  font-weight: bold;
  flex-grow: 1; }

@media only screen and (max-device-width: 976px) {
  main {
    width: 100%; }
  body {
    font-size: 42px; }
  #nav-bar .header {
    font-size: 77px; }
  h2 {
    font-size: 49px;
    width: 100%; }
  .new-tweet {
    margin-top: 170px;
    margin-bottom: 30px; }
  #tweets-container {
    margin-top: 100px; }
  .tweet footer {
    font-size: 42px; }
  .new-tweet footer {
    font-size: 42px; }
  .user-name {
    font-size: 49px; }
  .user-handle {
    font-size: 42px; }
  .tweet-auto-wrap {
    margin: 12px; }
  input {
    border-radius: 20px;
    border: 1px solid #bfbfbf;
    padding: 0 15px;
    background: #BBC; }
  .compose-button {
    border-radius: 20px; }
  .compose-button i {
    margin: 15px; }
  .tweet {
    opacity: 1; }
  .tweet-actions {
    visibility: visible; }
  #nav-bar .logo {
    width: 200px;
    height: 180px; } }
