
#nav-bar {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 0em 2em 0em;
  width: 100%;
  height: 80px;
  z-index: 1;
  background: #00a087;
  color: #e8fdff;
}

#nav-bar .header {
  flex-grow: 1;
  font-size: 32px;
  padding-left: 10px;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  /* display: block;
  float: left; */
}