/* tweet layout */

#container {
  padding-bottom: 23px;
  /* margin: auto; */
}

h2 {
  margin: 0;
  width: 370px;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  font-size: 24px;
}

.new-tweet {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 80px;
  padding: 0 1em;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background: #eee;
}

.new-tweet footer {
  padding: 0.25em 0 0.5em 0;
  font-size: 0.75em;
  display: flex;
  align-items: center;
}

.new-tweet header {
  padding: 1em 0;
  display: flex;
  align-items: flex-start;
}

textarea {
  padding: 5px 5px 5px;
  width: 100%;
}

.tweet-button {
  flex-grow: 1;
}



