/* tweet layout */

#container {
  padding-bottom: 23px;
}

h2 {
  margin: 0;
  width: 370px;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.new-tweet {
  padding: 0 1em;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background: #eee;
  margin-bottom: 15px;
}

.new-tweet footer {
  padding: 0.25em 0 0.5em 0;
  font-size: $sizing-unit * 2;
  display: flex;
  align-items: center;
}

.new-tweet header {
  padding: 1em 0;
  display: flex;
}

textarea {
  padding: 5px 5px 5px;
  width: 100%;
}

.tweet-button {
  flex-grow: 1;
}

.error {
  color: red;
}



