/* tweet layout */

.new-tweet {
  /* display: flex; */
  /* align-items: center; */
  margin: auto;
  margin-top: 0;
  padding: 0 1em;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background: #eee;
}

.tweet-header-line {
  padding: 1em 0;
}

h2 {
  margin: 0;
  width: 370px;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

textarea {
  padding: 5px 5px 5px;
  width: 100%;
}

.tweet-button {
  /* position: absolute; */
  display: block;
  float: left;
}

.tweet-character-counter {
  display: block;
  float: right;
}

.tweet-footer {
  padding: 0.25em 0 2em 0;
}
