/* tweet layout */

#container {
  padding-bottom: 23px;
}

.error {
  color: red;
}

h2 {
  margin: 0;
  width: 370px;
  border-bottom: 1px solid lighten(black, 75);
}

input {
  border-radius: $border-radius;
  border: 1px solid lighten(black, 75);
  padding: 0 5px;
  background: $tweeter-color;
}

.new-tweet {
  padding: 0 1em;
  border-radius: $border-radius;
  border: 1px solid lighten(black, 75);
  background: $tweet-background;
  margin-bottom: 15px;
}

.new-tweet footer {
  padding: 0.25em 0 0.5em 0;
  font-size: $sizing-unit * 2;
  display: flex;
  align-items: center;
}

.new-tweet header {
  padding: 1em 0;
  display: flex;
}

textarea {
  padding: 5px 5px 5px;
  width: 100%;
}

.tweet-button {
  flex-grow: 1;
}



