@media only screen and (max-device-width: 976px) {
  body {
    font-size: $sizing-unit * 6;
  }
  .compose-button {
    border-radius: $border-radius * 4;
  }
  .compose-button i {
    margin: 15px;
  }
  h2 {
    font-size: $sizing-unit * 7;
    width: 100%;
  }
  input {
    border-radius: $border-radius * 4;
    border: 1px solid lighten(black, 75);
    padding: 0 15px;
    background: $tweeter-color;
  }
  main {
    width: 100%;
  }
  #nav-bar .header {
    font-size: $sizing-unit * 11;
  }
  #nav-bar .logo {
    width: 200px;
    height: 180px;
  }
  .new-tweet {
    margin-top: 170px;
    margin-bottom: 30px;
  }
  .new-tweet footer {
    font-size: $sizing-unit * 6;
  }
  .tweet {
    opacity: 1;
  }
  .tweet-actions {
    visibility: visible;
  }
  #tweets-container {
    margin-top: 100px;
  }
  .tweet footer {
    font-size: $sizing-unit * 6;
  }
  .tweet-auto-wrap {
    margin: 12px;
  } 
  .user-handle {
    font-size: $sizing-unit * 6;
  }
  .user-name {
    font-size: $sizing-unit * 7;
  }
}